* {
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.indexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: 100%;
    background-image: url("./cielo.jpg");
    background-size: cover;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(0,255,16,1) 0%, rgba(135,254,143,1) 18%, rgba(183,254,187,1) 34%, rgba(234,254,235,1) 49%, rgba(234,255,235,1) 50%, rgba(233,255,233,1) 50%, rgba(194,255,192,1) 72%, rgba(183,255,180,1) 79%, rgba(165,255,162,1) 83%, rgba(10,255,0,1) 100%);
    border-radius: 10px;
    box-shadow: 
    0 0 7px rgb(55, 255, 0),
    0 0 10px rgb(55, 255, 0),
    0 0 21px rgb(55, 255, 0),
    0 0 30px rgb(55, 255, 0),
    0 0 40px rgb(55, 255, 0),
    0 0 50px rgb(55, 255, 0),
}

