* {
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.indexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: 100%;
    background-image: url("./cielo.jpg");
    background-size: cover;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: rgb(55, 255, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(24, 109, 0);
}